body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

.navbar {
    width: auto; /* Set the width of the navbar */
    background-color: #2dade0; /* Background color for the navbar */
    padding: 20px; /* Padding for the navbar */
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Optional shadow for the navbar */
    display: flex;
    flex-direction: row;
}
.navbar img {
    max-width: 10%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}
.navbar .nav {
    width: 100%; /* Full width for links */
    margin-bottom: 20px;
    margin-right: 10px;
    align-items: flex-end; /* Align links to the right */
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Align links to the right */
    margin-left: auto;
}
.navbar a {
    display: block; /* Make links block elements */
    padding: 10px; /* Padding for links */
    color: #333; /* Text color */
    text-decoration: none; /* Remove underline */
    margin-bottom: 10px; /* Space between links */
    
}
.navbar a:hover {
    background-color: #ddd; /* Background color on hover */
}
.content {
    flex: 1; /* Allow content to take the remaining space */
    padding: 20px; /* Padding for content */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 20px 0;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-left: 1vw;
}
h2 {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    margin-left: 1vw;
}

input[type="number"], select {
    margin-top: 5px;
    padding: 5px;
    width: 95vw;
    margin-left: 1vw;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1vw;
}

button:hover {
    background: #0056b3;
}

#logContainer {
    margin-top: 20px;
    margin-left: 1vw;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 1vw;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    margin-left: 1vw;
}

th {
    background-color: #f2f2f2;
}

.threatForm .threatDescription {
    width: fit-content;
    margin-left: 1vw;
}
